@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>


<p>During my studies in bachelors and masters, I have had the opportunity to hone my skills with tools C, C++, MYSQL, Java, C#, JavaScript, Ajax, Python, and HTML. Inside the classroom, I have committed myself to academic excellence. Outside of the classroom, I did Internships in companies like Symantec Corporation to get real world experience. Currently I am working remotely with San Francisco bay area Start-up Company called Bundle.</p>
<p>With my skills and knowledge base I would be able to help different projects going on in the company and with my ability to adapt to different situations I would be able to prepare for a variety of projects.</p>
