@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5475 55th streeT, Apt no 43<br />
    San Diego, CA 92115<br />
    <abbr title="Phone">P:</abbr>
    619.488.7274
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:rohit.vyavahare@gmail.com">rohit.vyavahare@gmail.com</a><br />    
</address>